body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    margin:0;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    /* color: #000d59; */
    color: #ffffff;
}

body.yes {
  /* background: linear-gradient(rgb(154, 236, 154,1), rgb(154, 236, 154, .4)); */
  background-color: #250042;
}

body.no {
  /* background: linear-gradient(rgb(255, 138, 168,.8), rgb(255, 138, 168, .5)); */
  /* background: linear-gradient(#2f0154cb, #2f0154); */
  background-color: #250042;

}

@keyframes fade {
  0% {
      opacity: 1; /*start*/
  }
  33% {
      opacity: 0.5;
  }

  55% {
    opacity: .2;
  }
  75% {
    opacity: .1; 
  }
  100% {
      opacity: 0;
      display: none;
  }
}

.background-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* body.yes .background-fade {
  background-image: url('/static/media/gifs/peter_gifs/peterwin_nojump.gif'); 
  animation: fade 3.5s ease forwards; 
}

body.no .background-fade {
  background-image: url('/static/media/gifs/peter_gifs/peterlose_nojump.gif'); 
  animation: fade 4.5s ease forwards; 
} */

.answer {
    font-size: 150px;
    margin: 10px 15px 60px;
    z-index:2;
}

.next {
    font-size: 40px;
    margin: 10px 20px 130px;
    z-index:2;
}

.time-left {
  border-radius: 10px;
  padding: 10px 10px;
  color: #f4f4f4;
  border: none;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif !important;
}

body.yes .time-left {
  background: #15ff1040;
}

body.no .time-left {
  background: #ff8da540;
}

.time-left:hover {
  /* background: rgba(131, 0, 253, 0.40); */
  border-radius: 10px;
  color: #250042;
}

body.yes .time-left:hover {
  background-color: rgb(139, 235, 139);

}

body.no .time-left:hover {
  background-color: rgb(255, 138, 168,1);

}

.time-left:focus-visible {
  border: none !important;
}

.time-left:active {
  /* color: #f1dede; */
  /* background: rgba(131, 0, 253, 0.55); */
  /* color: #250042; */
  transition: all .05s ease; 
}

body.yes .time-left:active {

  background-color: rgb(177, 245, 177);
}

body.no .time-left:active {

  background-color: rgb(255, 159, 183);
}

.modal {
  display: block; 
  /* display: none;  */
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.607); 
}

.modal.modal-open {
  display: flex;
}

.modal.modal-close {
  display: none; 
}


.modal-content {
  background: #280145;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: auto;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  overflow: hidden; 
  color: white;
  padding-bottom: 20px;
}


.modal-header {
  font-size: 25px;
  float: top;
  margin: 15px;
  height: 30px;
}

.modal-header .modal-header-title {
  margin-top: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  vertical-align: top;
  color: #aaaaaa;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff3939;
  text-decoration: none;
  cursor: pointer;
}

.close:active{
  color: #ff6a6a;
}

@media (max-width:700px)  {
  .answer {
    font-size: 140px !important;
  }
  .next {
    font-size: 35px !important;
    text-align: center;
  }
  .time-left {
    font-size: 35px;
  }
}

@media (max-width:410px)  {
  body.yes .background-fade {
    background-image: url('/static/media/gifs/peter_gifs/peterwin_nojump_small.gif'); 
    animation: fade 3.5s ease forwards; 
  }

  body.no .background-fade {
    background-image: url('/static/media/gifs/peter_gifs/peterlose_nojump_small.gif'); 
    animation: fade 3.5s ease forwards; 
  }

  .answer {
    font-size: 120px !important;
  }

  .next {
    font-size: 25px !important;
    text-align: center;
  }

  .time-left {
    font-size: 25px;
  }
}

@media (max-height:400px)  {
  body.yes .background-fade {
    background-image: url('/static/media/gifs/peter_gifs/peterwin_nojump_small.gif'); 
    animation: fade 3.5s ease forwards; 
  }

  body.no .background-fade {
    background-image: url('/static/media/gifs/peter_gifs/peterlose_nojump_small.gif'); 
    animation: fade 3.5s ease forwards; 
  }

  .answer {
    font-size: 140px !important;
    margin-bottom: 0;
  }

  .next {
    margin-bottom: 10px;
  }
 
}